<div class="container mb-4">
  <div class="text-center mt-4">
    <p class="inst-title" [innerHTML]="keys.inst_title"></p>
  </div>
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header inst-card-header text-center">
          <i class="fas fa-comment-alt fa-3x"></i>
          <h5 class="mt-2 mb-0" [innerHTML]="keys.inst_sub_1"></h5>
        </div>
        <div class="card-body text-justify inst-card-body-big va-f">
          <div class="va-s">
            <p class="card-text" [innerHTML]="keys.inst_sub_1_cont_1"></p>
            <p class="card-text" [innerHTML]="keys.inst_sub_1_cont_2"></p>
            <p class="card-text" [innerHTML]="keys.inst_sub_1_cont_3"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header inst-card-header text-center">
          <i class="fas fa-fire fa-3x"></i>
          <h5 class="mt-2 mb-0" [innerHTML]="keys.inst_sub_3"></h5>
        </div>
        <div class="card-body text-justify inst-card-body-big va-f">
          <div class="va-s">
            <p class="card-text" [innerHTML]="keys.inst_sub_3_cont_1"></p>
            <ul class="list-group text-center">
              <li class="list-group-item myhyv-list" [innerHTML]="keys.inst_sub_3_cont_1_l_1"></li>
              <li class="list-group-item myhyv-list" [innerHTML]="keys.inst_sub_3_cont_1_l_2"></li>
              <li class="list-group-item myhyv-list" [innerHTML]="keys.inst_sub_3_cont_1_l_3"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header inst-card-header text-center">
          <i class="fas fa-user-secret fa-3x"></i>
          <h5 class="mt-2 mb-0" [innerHTML]="keys.inst_sub_2"></h5>
        </div>
        <div class="card-body text-justify inst-card-body-small va-f">
          <div class="va-s">
            <p class="card-text" [innerHTML]="keys.inst_sub_2_cont_1"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-header inst-card-header text-center">
          <i class="fas fa-user-shield fa-3x"></i>
          <h5 class="mt-2 mb-0" [innerHTML]="keys.inst_sub_4"></h5>
        </div>
        <div class="card-body text-justify inst-card-body-small va-f">
          <div class="va-s">
            <p class="card-text" [innerHTML]="keys.inst_sub_4_cont_1"></p>
            <p class="card-text" [innerHTML]="keys.inst_sub_4_cont_2"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
