<div class="va-f admin_home_container hor-aligment container animate__animated animate__fadeIn slow">
    <div class="p-4 va-s">
      <div class="text-center">
        <p class="msg-title mb-5">
          {{keys.admin_home_title}}
        </p>
      </div>
      <div class="w-50 hor-aligment">
        <ul class="list-group">
            <li class="list-group-item"><div class="navbar-icon-container"><i class="fas fa-address-card"></i></div>{{keys.admin_home_name}}</li>
            <li class="list-group-item"><div class="navbar-icon-container"><i class="fas fa-address-card"></i></div>{{keys.admin_home_info_lastname}}</li>
            <li class="list-group-item"><div class="navbar-icon-container"><i class="fas fa-at"></i></div>{{keys.admin_home_info_email}}</li>
            <li class="list-group-item"><div class="navbar-icon-container"><i class="fas fa-calendar-alt"></i></div>{{keys.admin_home_info_creation_date}}</li>
            <li class="list-group-item"><div class="navbar-icon-container"><i class="fas fa-calendar-alt"></i></div>{{keys.admin_home_info_last_update}}</li>
          </ul>
      </div>
    </div>
  </div>
