<div class="search-main-div hor-aligment container animate__animated animate__fadeIn slow">
  <div class="p-5">
    <div class="text-center">
      <p class="search-title mb-5" [innerHTML]="keys.search_title"></p>
    </div>
    <div class="mb-3">
      <label class="mr-2" [innerHTML]="keys.search_mymyv_txt"></label>
      <label class="switch">
        <input id="checkboxMymyv" type="checkbox" (change)="checkbox($event.target)">
        <span class="slider round"></span>
      </label>
    </div>
    <app-normal-search *ngIf="!mymyvActived"></app-normal-search>
    <app-search-mymyv *ngIf="mymyvActived"></app-search-mymyv>
  </div>
  <hr>
</div>
