<div class="search-main-div hor-aligment container animate__animated animate__fadeIn slow">
  <div class="pt-5 pb-5">
    <div class="text-center">
      <p class="search-title mb-5" [innerHTML]="keys.search_title"></p>
    </div>
    <div class="mb-3 va-f">
      <div class="va-s">
        <label class="mr-2 mb-1" [innerHTML]="keys.search_people_txt"></label>
      </div>
      <label class="switch">
        <input id="checkboxPeople" type="checkbox" (change)="checkbox($event.target)">
        <span class="slider round"></span>
      </label>
    </div>
    <app-normal-search *ngIf="!peopleActived"></app-normal-search>
    <app-people-search *ngIf="peopleActived"></app-people-search>
  </div>
</div>
<app-error-modal></app-error-modal>
