<div class="mt-5">
  <app-card *ngIf="card.model_type === keys.ctrl_model_card_normal_type" [card]="card"></app-card>
  <app-mymyv-card *ngIf="card.model_type === keys.ctrl_model_card_mymyv_type" [card]="card"></app-mymyv-card>
</div>

<div id="card-container" class="container pr-2 pl-2 mt-5 mb-5 animate__animated animate__fadeIn slow">
  <div id="card-global-container" class="div_card_global">
    <div id="info-container" class="card br-top">
      <div class="card-body div_card_info">
        <div class="mb-3">
          <b [innerHTML]=keys.cards_txt_new_comment></b>
        </div>
        <form [formGroup]="commentForm" (ngSubmit)="validateForm()">
          <label [innerHTML]="keys.msg_input_4"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nombre de usuario" formControlName="instagram">
          </div>
          <textarea id="commentArea" class="text-area-format br-15" formControlName="comment"></textarea>
          <div class="text-right">
            <input type="submit" class="purple-button-simply" value="Enviar">
          </div>
        </form>    
        <div class="mt-4">
          <div *ngIf="commentError" class="msg msg-error animate__animated animate__fadeIn slow" [innerHTML]="keys.msg_comment_error"></div>
          <div *ngIf="instaError" class="msg msg-error animate__animated animate__fadeIn slow" [innerHTML]="keys.msg_insta_error"></div>
          <div *ngIf="formError" class="msg msg-error animate__animated animate__fadeIn slow" [innerHTML]="keys.msg_form_error"></div>
        </div>
      </div>
    </div>
    <div id="info-container" class="card br-bottom">
      <div class="card-body div_card_info">
        <div class="mb-3 mt-3">
          <b [innerHTML]=keys.cards_txt_comments></b>
        </div>
        <div *ngIf="noComments" class="text-center">
          <p [innerHTML]=keys.cards_txt_no_comments></p>
        </div>
        <div *ngIf="!noComments">
          <ul class="list-group list-group-flush">
            <li *ngFor="let comment of comments" class="list-group-item">
              <app-comments [comment]="comment"></app-comments>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-error-modal></app-error-modal>
<app-correct-modal></app-correct-modal>
