<div id="resetPasswordModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content border-0">
            <div class="modal-header reset-password-header text-white-50">
                <h5 class="modal-title" id="resetPasswordLabel" [innerHTML]="keys.reset_password_modal_title"></h5>
            </div>
            <div class="modal-body text-black-50">
                <div class="form-group">
                    <label [innerHTML]="keys.reset_password_modal_text"></label>
                    <input id="emailToResetPassword" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" [innerHTML]="keys.reset_password_modal_cancel_button"></button>
                <button type="button" class="btn btn-primary" [innerHTML]="keys.reset_password_modal_accept_button" (click)="saveEmail()"></button> </div>
        </div>
    </div>
</div>