$color-red: rgb(255, 102, 102);
$color-red-semi-dark: rgb(223, 89, 89);
$color-light-red: rgb(255, 225, 225);
$color-light-blue: rgb(74, 185, 250);
$color-very-light-blue: rgb(126, 208, 255);
$color-blue: rgb(43, 153, 255);
$color-dark-blue: rgb(37, 128, 212);
$color-grey: rgb(109, 109, 109);
$color-light-grey: rgb(170, 170, 170);
$color-very-light-grey: rgb(204, 204, 204);
$color-green: rgb(76, 202, 93);
$color-light-green: rgb(232, 255, 235);
$color-white: rgb(255, 255, 255);
$color-bit-dark-white: rgb(245, 245, 245);
$color-five-transparent-white: rgba(255, 255, 255, .5);
$color-seven-transparent-white: rgba(255, 255, 255, .7);