<div id="card-container" class="container p-2 animated fadeIn slow">
  <div id="card-global-container" class="mt-5 div_card_global">
    <div class="card br-15">
      <div class="row no-gutters">
        <div class="col-md-7">
          <div class="card-body div_mymyv_card_desc_princ va-f div_description text-break">
            <div class="va-s">
              <p class="card-text text-justify">{{mymyvCard.description}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-body h-100 div_info va-f">
            <div class="row va-s" style="height: 90%;">
              <div class="txt_light_blue">
                <div>
                  <span class="navbar-icon-container"><i class="fas fa-birthday-cake"></i></span>
                  {{mymyvCard.age}}
                </div>
                <div class="mt-3">
                  <span class="navbar-icon-container"><i class="fas fa-heart"></i></span>
                  {{mymyvCard.kind}}
                </div>
                <div class="mt-3">
                  <span class="navbar-icon-container"><i class="fas fa-venus-mars"></i></span>
                  {{mymyvCard.look_for}}
                </div>
                <div class="mt-3">
                  <span class="navbar-icon-container"><i class="fab fa-instagram"></i></span>
                  <a class="light_blue_link" *ngIf='mymyvCard.instagram !== keys.cards_txt_anonymous'
                    href="https://instagram.com/{{mymyvCard.instagram}}/"> {{mymyvCard.instagram}}</a>
                  <span *ngIf='mymyvCard.instagram === keys.cards_txt_anonymous'> {{mymyvCard.instagram}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
