<div id="footer" class="footer-style va-f">
    <div class="va-s">
        <a href="https://instagram.com/tinder.unizar/">
            <i class="fab fa-instagram fa-3x mr-4"></i></a>
        <a href="https://twitter.com/tinderunizar/">
            <i class="fab fa-twitter fa-3x"></i>
        </a>
    </div>
</div>
