<app-card [card]="card"></app-card>
<div class="container pr-2 pl-2 mt-2 mb-5 animated fadeIn slow">
  <div id="card-global-container" class="div_card_global">
    <div class="row">
        <div class="col-md-4 mt-1">
            <button class="btn btn-block blue-button-simply">Modificar</button>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-block green-button-simply">Aceptar</button>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-block red-button-simply">Rechazar</button>
        </div>
    </div>
  </div>
</div>
