<div id="infoModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content border-0">
            <div class="modal-body text-center text-black-50">
                <p id="infoModalMessage"></p>
                <i class="fas fa-heart fa-3x txt-red"></i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-block purple-button text-uppercase" data-dismiss="modal" [innerHTML] = keys.info_modal_button></button>
            </div>
        </div>
    </div>
</div>

